.navbar{
    background-color: #ffff;
    border-radius: 30px;
background-position: center;
background-size: contain;
margin: 20px;

}
.nav-link{
    margin: 10px;
}

.banner{
    background: url(aman.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;
}
.banner-content H3{
    padding-top: 200PX;
    font-size: 60px;
    padding-left: 100px;
    color:#ffff;
    font-weight: bolder;
}
.banner-content p{
    padding-left: 100px;
    color: #fff;
    /* font-weight: 800; */
}
.banner-content a{
    margin-left: 100px;
    color: black;
    margin-top: 20px;
    text-decoration: none;

}
.button{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
padding: 10px 20px;
margin-top: 10px;
}
.buttonn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
padding: 10px 20px;

margin-top: 10px;
    }
.but{
    
    border-radius: 20px;
background-color: #946B2D;
padding: 10px 20px;
text-decoration: none;
color: #fff;
}

/* End the part 1 */
.sell{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 15px;
    margin-bottom: 2    0px;
}
.content span{
    color: #946B2D;
    font-size: 50px;
    font-weight: 650;
}
.content h1{
    color: #2e2e2e;
    
    font-size: 50px;
    font-weight: 650;
}
/* new section start */


/* img chek  */
.about-img img{
    width: 700px;
}
.imf1{
    border-radius: 20px;
}
/* card section */
.card-wrapper {
    max-width: 1440px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    display: block;
    user-select: none;
    /* background: #effdf5; */
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); */
    transition: 0.2s ease;
    margin: 20px;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {}

.card-list .card-item .card-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9/ 9;
    border-radius: 20px;
    /* border: 1px dashed rgba(0, 185, 142, 0.909) !important; */

}

.card-list .card-link .like {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

/* .card-list .card-link .card-title {
    font-size: 1.5rem;
    color: #000;
    border: 1px dashed rgba(0, 185, 142, 0.909) !important;
    background: #effdf5;
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #0E2E50;
    padding-top: 15px;
    margin-bottom: 3px;
} */

.nav-item .nav-link {
    color: #000;
}



.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    color: #5372F0;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #53f0c9;

}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.wonders{
    padding-left: 0;
}



.card-wrapper.swiper-slide-button {
    color: #5372F0;
    margin-top: -35px;
}


.card-list .card-link .likee {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: -67px;
    margin-left: 150px;
}

/* jvndf */
.img22 {
    width: 100%;
    margin: 20px;
    border: 2px dotted rgb(168, 255, 206);
    box-shadow: 0px 10px 10px 10px rgb(168, 255, 206);

}
/* crad css  */

footer{
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    /* background-color: #5372F0; */
    /* padding: 100px 0 30px; */
    font-size: 13px;
    line-height: 20px;
    height: 50vh;
}
.new-row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.col{
    padding: 20px;
    margin: 40px;
    margin-left: 50px;
    align-items: center;
}
.me li{
list-style: none;
color: #fff;
margin: 10px;

}
.name{
    height: 40vh;
}
.qq{
    background-color: #2e2e2e;
    border-radius: 20px;
    color: #fff;
}
.arrow{
    width: 100px;
}
.star{
    margin-left: 470px;
    margin-top: 10px;
}
@media screen and (max-width:340px){
    .star{
        margin-left: 62;

    }
}



